css
* {
    box-sizing: border-box;
}


body {
    padding: 15;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color: rgb(14, 14, 14);
    background: linear-gradient(
        to bottom,
        rgb(236, 183, 183) 0%,
        rgb(234, 130, 130) 100%
    );
}

.container {
    width: min(33.333%, 500px);
    min-width: 320px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    animation: float-in 1.5s ease-out forwards;
}

@keyframes float-in {
    0% {
        transform: translateY(-100vh);
    }

    50% {
        transform: translateY(30px);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    color: rgb(14, 14, 14);
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 40px;
}

.add-todo-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#todo-input {
    flex: 1;
    min-width: 150px;
    padding: 12px;
    font-size: 16px;
    color: rgb(14, 14, 14);
    border: 2px solid rgb(140, 140, 140);
    border-radius: 4px;
}
#todo-input:focus {
    border: 2px solid rgb(19, 96, 199);
    outline: none;
}

#add-todo-btn {
    padding: 12px;
    font-size: 16px;
    background-color:  rgb(209, 209, 209);
    color: rgb(14, 14, 14);
    border-radius: 4px;
    border: 2px solid rgb(140, 140, 140);
    cursor: pointer;
}

.error-message {
    color: rgb(229, 29, 33);
    font-size: 14px;
    min-height: 20px;
    font-style: oblique; 
    text-align: center;
    width: 100%;
    margin: 0;
    order: 10;
}

.stats {
    text-align: center;
    margin: 15px 0;
    padding: 10px;
    color:rgb(14, 14, 14);
}

.todos-list {
    margin: 0;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

#todos-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 12px;
    color: rgb(14, 14, 14);
    cursor: pointer;
}

#todos-list li.completed {
    text-decoration: line-through;
}

#todos-list li.completed.twice-completed {
    color: rgb(209, 209, 209);
    text-decoration: line-through;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;


}
